.parent{
    display: flex;
    
    
    width: 100vw;
    height: 100vh;
}
.sidebar{
    width:20%;
    
    margin-top: 30px;
}
.tableParent{
    width:60%;
    border:1px solid grey;
    border-radius: 10px;
    height: fit-content;
    margin-top: 30px;
}